@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

#content {
    max-width: 1600px;
    margin: 0;
    background-color: #778076;
    min-height: 100vh;
    position: center;
    color: #c1c1c1
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #443412;
    font-family: "Baloo Bhaijaan", Calibri;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Baloo Bhaijaan", Calibri;
    text-align: center;
}

.profile {
    max-width: 100px;
}

#profile_picture {
    grid-column: 1/2;
    padding-left: 80%;
}

.name {
    grid-column: 2/3;
    padding-right: 80%;
}